EMAIL_ADDRESS="example@example.com"
EMAIL_PASSWORD="password"
MONGO_URI="mongodb+srv://imparator:NXMmr0PnTSyGTPBC>@xeox.t5rfqye.mongodb.net"
NODE_ENV="dev"
PORT=3000
WEBSITE_URL="https://arccl.netlify.app"
SESSION_SECRET="Please ⭐ this repository."
RECAPTCHA_SECRET=""
